<section class="trips" data-page="trips-show" id="trip-show-container">

  <!-- <h1><% @trip.name %></h1>

  <% render 'users/user_avatar_link', user: @trip.user, klass: "list-avatar" %>

  <div>
      <% render 'users/user_name_link', user: @trip.user, klass: "camo-link" %>
       <% user_trips_count_link(@trip.user)  %>
      <br>
      <% user_tagline(@trip.user) %>
  </div>
  <br>

  <% trip_location_label(@trip) %>: <% trip_location_list(@trip) %>
  <br>

  Date: <% trip_date_range(@trip) %>
  <br>

  <% trip_type_label(@trip) %>: <% trip_type_list(@trip) %>
  <br><br>

  <p><% @trip.note %></p>

  created on <% date_short(@trip.created_at) %>
  
  <% if authorized?(@trip.user) %>
    <br><br>
    <% trip_edit_link(@trip, "link-as-button ghost" ) %> <% trip_delete_link(@trip, "link-as-button ghost") %>
  <% end %>
  
    <br><br>
    <% link_to  "<<", "#", class: "link-as-button ghost prev" %>
    <% link_to  ">>", "#", class: "link-as-button ghost next" %> -->
    

</section><!-- trips -->

<%= render 'trip_show_template', user: @trip.user %>