<%= image_tag @user.image, size: "50x50" %>

<% if @user == current_user %>
  <%= link_to "Edit account", edit_user_path(current_user) %>
<% end %>

  <h1><%= @user.username %></h1>
  <p>Been there. Done that.</p>
  <%= link_to pluralize(@user.trips.count, 'Trip'), user_trips_path(@user) %> 

<!-- list user's trips add edit option if trip.user == current_user -->

