<!--==========================
Alert
============================-->

<div class="alert">
  <div class="alert-wrapper"></div>
  Alert! &nbsp <%= flash_alert %>  
  <span class="close-button" onclick="this.parentElement.style.display='none';">&#10006;</span>
  </div>
</div>
    


