  <section id="intro">

    <div class="intro-text">
      <h2>Travelogger</h2>

      <%= link_to "Go Forth", signup_path, class: "btn-get-started" %>
      <%= link_to "Log in", login_path, class: "btn-get-started" %>
    </div>

  </section><!-- #intro -->