<!--==========================
  Full Screen
============================-->
  <section id="intro">

    <div class="intro-text">
      <h2>Travelogger</h2>

      <%= link_to "Go Forth", signup_path, class: "btn-get-started" %>
      <%= link_to "Log in", login_path, class: "btn-get-started" %>
    </div>

  </section><!-- #intro -->

  <main style="width: 600px; padding: 30px 30px 0 30px; margin: 0;">
    <h2>What's all this about?</h2>
    <p>This is a website created for the Learn Rails Portfolio Project. Someday, it will be live and there will be actual content.</p>

    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
    
    <p>Cheers, 
      <br>
      Chely
    </p>
  </main>