// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//INDEX

.users ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
}

.users li {
  display: block;
  width: 100%;
  margin-bottom: 22px;
}

.users .list-avatar {
  float: left;
  width: 50px;
  height: 50px;
  padding: 0;
  margin-right: 10px;
}

.users .list-description {
 margin: 0;
}

.users .list-title {
  font-weight: 700;
}

.users .camo-link {
  color: #666666;
}

.users .camo-link:hover {
  color: #1dc9ce;
}

//SHOW

.users .user-title h1 {
  margin: 0;
}

.users .link-as-button {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  border: none;
  border-radius: 20px;
  padding: 8px 30px;
  margin: 0 5px 5px 0;
  color: #fff;
  text-decoration: none;
}

.users .link-as-button:hover {
  background: #1dc8cd;
  border-color: #1dc8cd;
  color: #fff;
}